<div class="content" style="height:100%">
  <div class="container">
    <div class="section">
      <a class="btn btn--primary" [routerLink]="['/workflow/new']">Add Workflow</a>
      <br>
      <br>
      <div class="panel panel--bordered panel--bordered">
        <div class="responsive-table">
          <table class="table table--fixed">
            <thead>
              <tr>
                <th style="width: 20%">Endpoint Name</th>
                <th style="width: 15%">Category</th>
                <th>Description</th>
                <th style="width: 40px"></th>
                <th style="width: 50px"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let workflow of workflows">
                <td><a (click)="updateWorkflow(workflow.name)">{{ workflow.name }}</a></td>
                <td>{{ workflow.category | titlecase }}</td>
                <td>{{ workflow.description }}</td>
                <td>
                  <button (click)="openModal(workflow.name)" class="btn btn--small btn--icon btn--success">
                    <span class="icon icon-play"></span>
                  </button>
                </td>
                <td style="text-align: left;">
                  <button (click)="deleteWorkflow(workflow.name)" class="btn btn--small btn--icon btn--negative">
                    <span class="icon icon-trash"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal--small" id="modal-small" *ngIf="callWorkflow == true">
    <form [formGroup]="workflowBegin" (ngSubmit)="onSubmit()">
      <div class="modal__dialog">
        <div class="modal__content">
          <a class="modal__close" (click)="closeModal()"><span class="icon-close"></span></a>
          <div class="modal__header">
            <h1 class="modal__title">Start Workflow</h1>
          </div>
          <div class="modal__body">
            <div class="panel">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="form-group__text" style="align-items: center;">
                      <label for="input-workflow-body">Initial Data:</label>
                      <div id="input-workflow-body" style="width: 100%; margin-top: 10px; border: 1px solid #dfdfdf;">
                        <app-code-editor formControlName="editor"></app-code-editor>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal__footer">
            <button type="submit" [disabled]="!workflowBegin.valid" class="btn btn--success">Start</button>
            <button type="button" class="btn btn-negative" (click)="closeModal()">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  