.label-padding {
  padding-top: 10px;
}

.modal__dialog {
  display: inline-block;
  position: fixed;
  margin: auto;
  height: 550px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

input[type=text] {
  width: 90% !important;
  background: transparent !important;
  border: none !important;
  outline: none;
  box-shadow: none;
  text-align: center;
  padding-left: 25px !important;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.bottom-line .no-dropdown {
  width: 100% !important;
  padding-left: 10px !important;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.bottom-line {
  width: 100%;
  align-items: center;
  border-width: 0px 0px 1px 0px !important;
  border-style: solid !important;
  border-color: #dfdfdf !important;
  text-align: center;
}

.dropdown-list {
  display: block !important;
  text-align: center !important;
  padding: 0 !important;
  border: none !important;
}
