<div class="content">
  <div class="container">
    <div class="section">
      <h1 style="padding-bottom: 10px;">User Profile</h1>

      <div class="panel panel--bordered panel--raised-small">
        <div class="responsive-table">
          <table class="table table--nostripes">
            <tr>
              <th>First Name</th>
              <td>{{ user.fname }}</td>
            </tr>
            <tr>
              <th>Last Name</th>
              <td>{{ user.lname }}</td>
            </tr>
            <tr>
              <th>Username</th>
              <td>{{ user.username }}</td>
            </tr>
            <tr>
              <th>CANE JWT</th>
              <td>
                <input class="jwt-input" type="text" value="{{ user.token }}" readonly/>
                <button class="btn btn--icon btn--success btn--small" ngxClipboard [cbContent]="user.token" (cbOnSuccess)="copied($event)">
                  <span class="icon-recent-apps"></span>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
