.jwt-input {
  width: 95%;
  border: none;
  padding-right: 10px;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

// th {
//   text-align: right !important;
// }
