.editor-outer {
  // border-color: red;
  // border: 1px dashed;
  width: 95%;
  padding-bottom: 5px;
}

.editor-top {
  height: 50px;
  background-color: gainsboro;
  border-color: black;
  border: 1px solid;
}

.editor-bottom {
  max-height: 500px;
  overflow: hidden;
  background-color: white;
  border-color: black;
  border: 1px solid;
  border-top: none;
}

.active-editor {
  background-color: #b1e2f9;
}

.editor-inner {
  padding: 0px;
}

.editor-header {
  height: 50px;
  display: flex;
  align-items: center;
  width: 92.5%;
  margin: auto;
}

.editor-ide {
  height: 200px;
  overflow: hidden;
  border-color: #dfdfdf;
  border: 1px solid;
  margin: 0px 10px 10px 10px;
}

.editor-ide-query {
  // height: 25px;
  border-color: #dfdfdf;
  border: 1px solid;
  margin: 0px 10px 0px 10px;
}

.editor-table {
  margin: 0px 10px 10px 10px;
  border-color: #dfdfdf !important;
  // border-bottom: 1px solid;
  // border-right: 1px solid;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  position: relative;
}

.editor-title {
  font-size: 16px;
  font-weight: bold;
}

.editor-button-group {
  display: flex;
  align-items: center;
}

.editor-button-primary {
  margin-right: auto;
  padding: 10px;
}

.editor-button-raw {
  margin-left: auto;
  padding: 10px;
}

.editor-button-action {
  margin-left: 3px !important;
}

th {
  background-color: #f5f5f6;
  position: sticky !important;
  top: 0;
  z-index: 999;
  border-color: #dfdfdf;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.table--bordered {
  border-width: 0px 0px 1px 0px;
}

.table--bordered th {
  border-right: none !important;
}

.table--bordered td {
  border-right: none !important;
}

// .arrow-image {
//     object-fit: contain;
//     max-width: 50% !important;
//     vertical-align: middle;
// }

.tab-content-border {
  border: 1px solid;
  border-color: #dfdfdf;
  border-top: none;
}

.http-verb {
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 3px 3px 1px 3px;
}

.add-remove {
  text-align: right !important;
  font-size: 30px !important;
}

.dropdown-cell {
  overflow: visible !important;
}

td input {
  border-style: none;
}

select {
  width: 100%;
  // padding: 0.5em 1em;
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  text-align: left;
}

.select-modal {
  // border: 1px solid black;
  text-align: center;
  text-align-last: center;
  width: 60%;
}

select:focus {
  outline: none;
}

input[type=text] {
  width: 100%;
  outline: none;
  border: none;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

input[type=text]:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

tbody > tr:first-child > td {
  border-top: none !important;
}

td:focus {
  outline: none;
}

// .input-error {
//     border: 1px solid red !important;
// }

input.ng-dirty.ng-invalid {
  border: 1px solid red !important;
}

.step-up {
  padding: 0px 5px 0px 10px;
}

.step-down {
  padding: 0px 10px 0px 5px;
}

.modal__dialog {
  display: inline-block;
  position: fixed;
  margin: auto;
  height: 550px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#requestEditor {
  width: 100%;
  height: 100%;
}
